:root {
    --pink: #E866EC;
    --gray: #33393F;
    --offwhite: #E0EAE4;

}

body {
    margin:0%;
    padding:0%;
    background-color: var(--gray);
}

header {    
    /* line-height: 2; */
    text-align: center;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-top: 5vh;
}

h1 {
    font-size: 3em;
    color: var(--pink);
}

h2 {
    font-size: 1.5em;
    color: var(--offwhite);
    font-weight: 100;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

#container1 {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.card {
    border: var(--offwhite) 2px dashed;
    flex-basis: calc(33.3333% - 9em);
    margin: 1em;
    flex-grow: 1;   
}

.card-header {
    border: var(--offwhite) solid 2px;
    margin: -0.5em 5% 0 5%;
    font-size: 2em;
    background-color: var(--gray);
    color: var(--pink);
    border-radius: 10px;
    padding-left: 0.5em;
}

.card-desc {
    padding: 5% 1em 5% 1em;
    font-size: 1.5em;
}

.pre {
    
}

.code-card {
    border-radius: 10px;
    min-height: 5em;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    margin: 0 5% 5% 5%;
    padding:1em;
    font-size:1.5em;
    color: var(--offwhite) 
}


@media screen and (max-width: 992px) {
    .card {
        flex-basis: calc(50% - 4em);

    }
}
    
@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(100% - 2em);
    }
}


/* @media screen and (min-width: 992px) {
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  } */